<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What's On?</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="styles/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <!--For some reason, enabling flex wrap automatically reduces the size of elements within the flex box (e.g. image size and text input)-->
  <header id="header" class="flex wrap col justify-centre align-centre g10">
    <div class="logo-head">
      <img
        class="logo-head-img"
        src="images/whats-on-full.png"
        alt="what's on logo"
      />
    </div>
    <h1>Find out what's on near you!</h1>

    <search>
      <form id="loc-search" class="flex col justify-centre align-centre g20">
        <div id="loc-input">
          <img
            id="loc-pin-svg"
            src="images/location-pin.svg"
            alt="location pin"
          />
          <input type="text" placeholder="Enter Location" required />
        </div>
        <button
          id="search-btn"
          class="primaryCTA flex row justify-centre align-centre g20"
          type="submit"
        >
          <img id="search-svg" src="images/search-icon.svg" alt="search icon" />
          Search
        </button>
      </form>
    </search>
    <div id="head-divider" class="divider-line hide"></div>
  </header>
  <body>
    <!--Loader while waiting for response from APIs-->
    <section id="loader" class="response hide">
      <div class="date skeleton flex wrap g20">
        <div class="date-placeholder loader-text"></div>
        <div class="weather-placeholder flex align-centre g10">
          <img
            class="icon-placeholder"
            src="images/loader-weather-icon.svg"
            alt="placeholder weather icon"
          />
          <div class="temp-placeholder loader-text"></div>
        </div>
      </div>
      <div class="cards grid g20">
        <% for (i=0; i < 3; i++) { %>
        <div class="card skeleton flex col align-centre space-between">
          <div class="card img loader-img"></div>
          <div class="card-title loader-text"></div>
          <div class="event-details">
            <div class="short-detail loader-text"></div>
            <div class="short-detail loader-text"></div>
            <div class="long-detail loader-text"></div>
          </div>
          <div class="event-desc">
            <div class="long-desc loader-text"></div>
            <div class="long-desc loader-text"></div>
            <div class="long-desc loader-text"></div>
            <div class="short-desc loader-text"></div>
          </div>
          <div class="loader-button"></div>
        </div>
        <% } %>
      </div>
    </section>
    <script rel="text/javascript" src="js/index.js"></script>
  </body>
</html>
