/* Responsiveness Rules:
    Mobile: =< 600px (min catered for is 360px)
    Tablet: =< 992px
    Desktop >= 993px
*/

/* Colour Palette:
    Dark Grey (text): #404040;
    Light Grey: #EBF2FA;
    Orange (Primary Accent): #FF8C42;
    Aqua? (Secondary Accent): 08A4BD;
*/

/* Fonts:
    All Content - Inter, sans-serif
*/

header {
  height: 80vh;
}

body {
  margin-inline: 5%;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #404040;
  text-align: center;
}

.divider-line {
  width: 535px;
  border-bottom: 1px solid #404040;
  margin-block: 30px;
}

.hide {
  display: none;
}

/* ~~~~~~~~~~ FLEX AND GRID ~~~~~~~~~~ */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-centre {
  justify-content: center;
}

.align-centre {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.g20 {
  gap: 20px;
}

.g10 {
  gap: 10px;
}

.g05 {
  gap: 5px;
}

.grid {
  display: grid;
}

/* ~~~~~~~~~~ IMAGES AND SVGS ~~~~~~~~~~ */

.logo-head {
  height: 162px;
  width: 535px;
  flex-shrink: 1;
}

.logo-head-img {
  width: 100%;
}

#loc-pin-svg {
  height: 44px;
  width: 21px;
  position: absolute;
  top: 12px;
  left: 22px;
}

#search-svg {
  height: 48px;
  width: 48px;
}

/* ~~~~~~~~~~ FORM INPUTS ~~~~~~~~~~ */

#loc-input {
  position: relative;
}

input[type="text"] {
  height: 67px;
  width: 485px;
  background-color: #ebf2fa;

  border: 1px solid #404040;
  border-radius: 32px;

  padding-inline-start: 64px;

  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #404040;

  box-shadow: 4px 4px 4px 0px #00000025;
}

/* ~~~~~~~~~~ BUTTONS ~~~~~~~~~~ */
.primaryCTA {
  height: 67px;
  width: 245px;
  background-color: #ff8c42;

  border: none;
  border-radius: 32px;

  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: white;

  box-shadow: 4px 4px 4px 0px #00000025;
}

.primaryCTA:hover {
  background-color: #ff8c4275;
  cursor: pointer;
}

.primaryCTA:active {
  box-shadow: inset 0px 0px 16px 12px #ff8c42;
}

/* ~~~~~~~~~~ LOADER ~~~~~~~~~~ */
#loader {
  height: max-content;
  width: 100%;
  z-index: 1;
  background: linear-gradient(110deg, #ffffff01, #ffffff 10%, #ffffff01 20%);
  background-size: 200% 100%;
  animation: gradientLoader 1s linear infinite reverse;
}

@keyframes gradientLoader {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200%;
  }
}

.loader-text {
  background-color: #ebf2fa;
  border-radius: 8px;
  margin-block: 7px;
}

.date-placeholder {
  height: 39px;
  width: 315px;
}

.icon-placeholder {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.temp-placeholder {
  height: 39px;
  width: 75px;
  background-color: #ebf2fa;
  display: inline-block;

  border-radius: 8px;
}

#loader * {
  position: relative;
  z-index: -1;
}

.card.skeleton {
  height: 420px;
  /* 470px; 470 - padding (50) */
  width: 322px;
  /* 372px; */

  border: 3px solid #ebf2fa;
  border-radius: 32px;

  padding: 25px;
  /* padding-block: 5%;
  padding-inline: 6.5%; */
}

.short-detail {
  height: 16px;
  width: 178px;
}

.long-detail {
  height: 16px;
  width: 287px;
}

.short-desc {
  height: 16px;
  width: 208px;
}

.long-desc {
  height: 16px;
  width: 324px;
}

.loader-button {
  height: 45px;
  width: 200px;
  background-color: #ebf2fa;
  border-radius: 16px;
  margin-top: 15px;
}

/* ~~~~~~~~~~ CARDS ~~~~~~~~~~ */

.response {
  max-width: 1200px;
  margin-inline: auto;
}

.cards {
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 500px));
  /* row-gap: 10px; */
}

.card.img {
  height: 121px;
  width: 324px;
  border-radius: 32px 32px 0px 0px;
  background-color: #ebf2fa;
}

.card-title {
  height: 28px;
  width: 324px;
}

.event-details {
  align-self: baseline;
}
